# Ignore node_modules directory for Node.js/React
/client/node_modules
/server/node_modules
.env
# Ignore build artifacts for React
/client/build/
/client/dist/

# Ignore .env files (Laravel and React environment variables)
# Be cautious with this as .env files can contain sensitive information
/client/.env
/server/.env



# Ignore IDE and OS-specific files
/.idea/
/.vscode/
/*.DS_Store
/*.log
/*.swp
/*.swo


# Ignore npm lock files

/client/package-lock.json
/server/package-lock.json
/server/public/uploads