.drawing-area {
    position: relative;
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    /* cursor: crosshair; */
}

.seat {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    padding: 5px;
    border-radius: 50%;
    transition: left 0.1s, top 0.1s;
}

.clicked{
    background-color: red;
}