.container {
    width: 100%; 
    overflow-x: auto; 
    white-space: nowrap;
    height: 85vh;
    display: flex;
  }
  
  .addcolumn {
    width: 300px; 
    margin-right: 10px;
  }

  /* .add-card {
    font-size: 1.4rem;
    font-weight: 400;
    color: #838c91;
    padding: 1rem;
    cursor: pointer;
  }
  
  .add-card:hover {
    background-color: #cdd2d4;
    color: #4d4d4d;
    text-decoration: underline;
  } */

  .add-list {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
    height: 2rem;
}

.add-list:hover {
    background-color: #e0e0e0;
}
.icon-red{
 color: red;
 cursor: pointer;
}

