/* -----------------------------------------------------------------------------

#  Workspace Css

----------------------------------------------------------------------------- */
.workspace .workspacelogo {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: #4caf50;
}

.workspace .logoheader {
  font-weight: 800;
}
.workspace .board {
  width: 250px;
  height: 150px;
  border-radius: 5px;
  background-color: #8d8bcc;
  font-weight: 800;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  justify-content: space-between; /* Adjust the spacing between cards */
}
